In [ ]:
import pandas as pd # import libraries
import numpy as np
import os
from numpy.random import RandomState
rand = RandomState()

In [ ]:
def data_converter(input, output): #function which takes in data 
  root_folder = os.getcwd()
  df_full = pd.read_csv(os.path.join(root_folder, input), parse_dates=["time"])

  if (not 'daily_confirm' in df_full.columns) and (not 'cum_confirm' in df_full.columns):
    raise ValueError(
        "Please provide at least one of the following: daily_confirm, cum_confirm")
  elif (not 'daily_confirm' in df_full.columns) and ('cum_confirm' in df_full.columns):
      df_inf = df_full['cum_confirm'].diff().abs()
      df_inf[0] = df_full['cum_confirm'].iloc[0]
      df_full['daily_confirm'] = df_inf
  elif ('daily_confirm' in df_full.columns) and (not 'cum_confirm' in df_full.columns):
      df_full["cum_confirm"] = df_full.daily_confirm.cumsum()

  infection_data = list(
      i + rand.uniform() for i, y in enumerate(df_full['daily_confirm'].values) for z in range(y.astype(int)))
  df = pd.DataFrame(infection_data, index=range(
      len(infection_data)), columns=['infection_times'])
  
  df.to_csv(str(output), index=False)

In [ ]:
#data_converter('dummy.csv', 'wezzie.csv')
data_converter('First_Wave.SA1.csv', 'First_Wave_SA.csv') # converts population data to individual infection time
# input First_Wave.SA1.csv data and output is First_Wave_SA.csv

In [ ]:
#new_data = pd.read_csv('wezzie.csv')
new_data1 = pd.read_csv('First_Wave_SA.csv') # new individual infection data in csv

In [ ]:
#infectious_time = np.array(new_data.infection_times)
infectious_time1 = np.array(new_data1.infection_times)

In [ ]:
#recoveries_time = infectious_time*np.exp(-0.068)
#recoveries_time1 = infectious_time1*np.exp(-0.068)
recoveries_time1 =  infectious_time1*np.exp(-0.068) # add a column of individual recovery times

In [ ]:
#data_frame = pd.DataFrame(infectious_time, recoveries_time)
#data_frame.to_csv('new_table.csv')

data_frame1 = pd.DataFrame(infectious_time1, recoveries_time1)
data_frame1.to_csv('First_Wave_table1.csv') # csv to convert individual data consinsting of individual infection and recovery time
# here output is First_Wave_table.csv

In [ ]:
#pd.read_csv('new_table.csv')

a = pd.read_csv('First_Wave_table1.csv') # show data

In [ ]:
a

      Unnamed: 0           0
0       0.270814    0.289870
1       3.598859    3.852094
2       3.658657    3.916099
3       4.774139    5.110073
4       4.757591    5.092360
...          ...         ...
9202  115.029756  123.123860
9203  115.308062  123.421749
9204  115.778635  123.925434
9205  115.740183  123.884276
9206  115.352359  123.469164

[9207 rows x 2 columns]